@model WebSearchLink.Models.ModeBase.TeacherId_Cnt
<button type="button" id="btn-report-trash-info" class="btn btn-outline-danger m-2">Total meetings remove: <span data-teacher-id="@Model.TeacherId"> @Model.Cnt </span></button>