@using WebSearchLink.Models.ScheduleModels
@model List<TimeSlot>

@foreach (var item in Model)
{
    <li class="list-group-item d-flex justify-content-between align-items-center border rounded shadow-sm mb-2">
        <span class="text-primary fw-medium">
            @item.CreatedAt | @item.StartTime - @item.EndTime
        </span>
        <button onclick="this.parentElement.remove()" type="button" class="btn btn-sm btn-outline-danger">
            🗑️
        </button>
    </li>
}
