@using WebSearchLink.Models.ScheduleModels
@model List<TimeSlot>
@foreach (var item in Model)
{
    <li class="flex items-center justify-between bg-blue-50 p-3 rounded shadow">
        <span class="text-blue-800 font-medium">@item.CreatedAt | @item.StartTime - @item.EndTime</span>
        <button onclick="this.parentElement.remove()" class="text-red-500 hover:text-red-700 font-bold">🗑️</button>
    </li>
}

