@model ZoomMeetingReport 
<style>
    .hide{
        display: none;
    }
</style>
<div id="overlay-confirm" style="display:block; position:fixed; inset:0; background:rgba(0,0,0,0.6); z-index:9999;"></div>

<div id="confirm-modal" style="display:block; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%);
    background:white; padding:30px; border-radius:12px; z-index:10000; text-align:center;">
    <h4>Are you sure you want to confirm this session?</h4>
    <span><i class="fas fa-user-graduate"></i> Teacher Name: @Model?.Teacher?.FullName | Topic: @Model?.Topic</span>
    <input type="text" id="report-id-val" hidden value="@Model?.Uuid" />
    <div>
        <label for="feedback">Đánh giá buổi học:</label><br>
        <textarea id="feedback-report" name="feedback" rows="6" cols="60" placeholder="Nhập đánh giá..."></textarea>
    </div>
    <button id="btn-confirm-submit" class="btn btn-success mt-3">Confirm This Session</button>
</div>