@model int
<td style="display: flex;">
    <a style="margin-left:5px;" data-teacher-id="@Model" class="btn confirm-teacher btn-sm btn-success w-100">Confirm</a>
    <a style="margin-left:5px;" data-teacher-id="@Model" class="btn btn-sm btn-remove-teacher btn-danger w-100">Delete</a>
</td>